body{
    font-family: 'Vast Shadow', cursive;
}       


#principal{
    width:500px;
    height:100px;
    position:absolute;
    top:50%;
    left:35%;
    margin-top:-50px;
    margin-left:-50px;
    
}

#cad{
    width:500px;
    height:500px;
    position:absolute;
    top:20%;
    left:35%;
    margin-top:-50px;
    margin-left:-50px;
}

#lista{
    width:800px;
    height:800px;
    position:absolute;
    top:20%;
    left:20%;
    margin-top:-50px;
    margin-left:-50px;
    align-items: center;
}
        
